{% extends "BaseTamp/BaseBlock.html" %}
{% load static %}

{% block title %}Лента товаров{% endblock title %}

{% block New_Link_Items %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock New_Link_Items %}

{% block content %}
	<section class="header">
		<div class="container_header">
			<div class="LogoTitle">
				<p class="h1">LogoPage</p>
			</div>
			<div class="ctn_menu">
				<ul class="menu">
					
					{% if user.is_authenticated %}
					<li>
						<a class="btn btn-light" href="/user/profile">Профиль</a>
					</li>
						{% if user.is_superuser == False %}
						<li>
							<a class="btn btn-light" href="/user/baskets">Корзина</a>
						</li>
						{% endif %}
					{% else %}
					<li>
						<a class="btn btn-light" href="/user/login">Войти</a>
					</li>
					{% endif %}
					{% if user.is_superuser %}
					<li>
						<div class="dropdown">
							<button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							  Панель
							</button>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/create/category">Категории</a></li>
								<li><a class="dropdown-item" href="/create/shop_items">Позиции</a></li>
								<li><a class="dropdown-item" href="#">Админы</a></li>
							</ul>
						</div>				
					</li>
					{% endif %}
					<li>
						<div class="dropdown">
							<button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							  Категории
							</button>
							<ul class="dropdown-menu">
								{% for i in category %}
							  	<li><a class="dropdown-item" href="/show/category/{{i.id}}">{{i.title}}</a></li>
								{% endfor %}
							</ul>
						</div>
					</li>
	
				</ul>
			</div>
		</div>
	</section>
	<section class="body">
		<div class="ctn_body">
			{% for item in shop_items %}
				<a href="/show/shopitem/{{item.id}}">
					<div class="cards">
						<img class="cards-im" src="media/{{item.icon}}" alt="{{item.icon}}">
						<div class="cards-info">
							<div class="cards-info-items">
								{{item.title}}
							</div>
							<div class="cards-info-items">
								{{item.price}} {{item.currency}}
							</div>
						</div>
						{% if user.is_authenticated %}
							{% if user.is_superuser == False %}
							<form action="" method="post" class="form-submit">
								{% csrf_token %}
								<input type="submit" name="{{item.id}}" id="{{item.id}}" value="добавить">
							</form>
							{% else %}
							<form action="" method="post" class="form-submit">
								{% csrf_token %}
								<input type="submit" name="{{item.id}}" id="{{item.id}}" value="удалить">
							</form>
							{% endif %}
						{% endif %}
							
					</div>
				</a>
			{% endfor %}
		</div>
	</section>
{% endblock content %}